* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: Corbel, Arial, sans-serif; position: relative; }
body.arrow { background-color: #fff2db; }
body.draw { background-color: #ededed; }
body.erase { color: #c10100; background-color: #ffdbdb; }
body.erase #shadow.highlight { color: #ffed6d; }
body #banner { /* Menlo Box Drawing title */ /* Option panels */ /* Clear flux for the end of banner */ }
body #banner a { float: right; font-size: 17.6px; font-weight: bold; line-height: 36px; margin-right: 9.2px; text-decoration: none; color: black; }
body #banner #debug { font-family: Menlo; }
body #banner .options { float: left; padding: 0 8px; }
body #banner .options span { display: block; float: left; margin: 0 5px; padding: 0 3px; border-width: 2px 0; border-color: transparent; border-style: solid; font-size: 16px; line-height: 32px; font-weight: bold; color: rgba(30, 30, 30, 0.8); cursor: pointer; }
body #banner .options span:hover { border-bottom-color: rgba(30, 30, 30, 0.2); }
body #banner .options span.selected-mode, body #banner .options span.selected-heart, body #banner .options span.selected-arrow { color: #007f00; border-bottom-color: #007f00; }
body #banner .options span#mode-erase.selected-mode { color: #c10100; border-bottom-color: #c10100; }
body #banner .options span#arrow-yes.selected-arrow { color: #915e00; border-bottom-color: #915e00; }
body #banner .clear { clear: both; }
body #shadow { position: absolute; /* make it zero height */ z-index: 2001; overflow: hidden; }
body #shadow.highlight { color: #f6f676; }
body #thearea { position: relative; z-index: 2002; }
body #thearea, body #shadow { color: inherit; display: block; padding: 16px; width: 100%; font-family: "Menlo",monospace; font-size: 12px; line-height: 16px; font-style: italic; background: transparent; border: 0px solid black; outline: none; /* overwrite browser's default outline */ }
