@function match-luminosity($color, $bd) {
    @return hsl(hue($color), saturation($color), lightness($bd))
}

// 'Peception' colors
$background : #EDEDED;
$red : #C10100;
$golden : #915E00;
$green : #007F00;
$blue : #0161DD;
$purple : #812EE8;
$rose : #A800B3;
$gray : match-luminosity($background, $red);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    $gap : 16px;
    font-family: Corbel, Arial, sans-serif;
    position: relative;
    
    &.arrow {
        background-color: match-luminosity($golden, $background);
    }
    &.draw {
        background-color: $background;
    }
    &.erase {
        color : $red;
        background-color: match-luminosity($red, $background);
        #shadow.highlight {
            color: mix(yellow, match-luminosity($red, $background));
        }
    }
    
    #banner {
        $font-size : $gap;
        $line-height : 2 * $gap;
        $border-width : 2px;
        
        /* Menlo Box Drawing title */
        a {
            $ratio : 1.1;
            float: right;
            font-size: $font-size * $ratio;
            font-weight: bold;
            line-height: $line-height + 2 * $border-width;
            margin-right: ($line-height + 2 * $border-width - $font-size * $ratio)/2;
            text-decoration: none;
            color: black;
        }
        #debug {
            font-family: Menlo;
        }
        
        /* Option panels */
        .options {
            float: left;
            padding: 0 $gap/2;
            span {
                display: block;
                float: left;
                margin: 0 $gap/2 - 3px;
                padding: 0 3px;
                border-width: $border-width 0;
                border-color: transparent;
                border-style: solid;
                font-size: $font-size;
                line-height: $line-height;
                font-weight: bold;
                color: rgba(30,30,30,0.8);
                cursor: pointer;
                &:hover {
                    border-bottom-color: rgba(30,30,30,0.2);
                };
                &.selected-mode, &.selected-heart, &.selected-arrow {
                    color: $green;
                    border-bottom-color: $green;
                }
                &#mode-erase.selected-mode {
                    color: $red;
                    border-bottom-color: $red;
                }
                &#arrow-yes.selected-arrow {
                    color: $golden;
                    border-bottom-color: $golden;
                }     
            }
        }
        
        /* Clear flux for the end of banner */
        .clear {
            clear: both;
        }
    }
    
    #shadow {
        position: absolute; /* make it zero height */
        z-index: 2001;
        overflow:hidden;
        &.highlight {
            color: mix(yellow, $background);
        }
    }
    
    #thearea {
        position: relative;
        z-index: 2002;
    }
    
    #thearea, #shadow {
        color: inherit;
        display: block;
        padding: $gap;
        width: 100%;
        font-family: "Menlo",monospace;
        font-size:   12px;
        line-height: $gap;
        font-style: italic;
        background: transparent;
        border : 0px solid black;
        outline : none;  /* overwrite browser's default outline */
    }
}
